<mat-card class="container" appearance="outlined">
    <mat-card-header>
        <mat-card-title>Demo Error Handling</mat-card-title>
    </mat-card-header>

    <mat-card-content>
        <p>Demo page to show error handling with buttons. Feel free to try them.</p>
    </mat-card-content>

    <mat-card-footer class="buttons">
        <button mat-flat-button (click)="clickButton('success')">Success</button>
        <button mat-flat-button (click)="clickButton('error')">Error</button>
        <button mat-flat-button (click)="clickButton('upgrade')">Upgrade Required</button>
    </mat-card-footer>
</mat-card>